// Members
#members {
	.members-container {
		background-color: $white-color;
		min-height: 20rem;

		text-align: center;

		.form-group {
			padding: 1rem;

			label {
				display: block;
				margin-bottom: 0.5rem;
			}

			input {
				margin-bottom: 0.7rem;
			}
		}
	}
}
