// Section: Date Input
section#date
	.container
		h2.section-title Datas
		.date-container
		
			// Date Picker
			.start
				h4.text-center Quando comeca?
					input#startDate.datePicker(type="text")

			// Days Buttons
			.days
				h4.text-center Quais dias?
				.buttons
					button.btn-main Domingo
					button.btn-main Segunda
					button.btn-main Terca
					button.btn-main Quarta
					button.btn-main Quinta
					button.btn-main Sexta
					button.btn-main Sabado
					button.btn-main Todos
					button.btn-main Alternado
