// Section: Date Input
section#date
	h2.section-title Datas
	.date-container
		// Date Picker
		.start
			h4.text-center Quando comeca?
				input#startDate(type='date')

		// Days Buttons
		.days
			h4.text-center Quais dias?
			.buttons
				button.btn-main.day-btn Domingo
				button.btn-main.day-btn Segunda
				button.btn-main.day-btn Terca
				button.btn-main.day-btn Quarta
				button.btn-main.day-btn Quinta
				button.btn-main.day-btn Sexta
				button.btn-main.day-btn Sabado
				button.btn-main.day-btn Todos
				button.btn-main.day-btn Alternado
