// Section: Members Input
section#members
	.container
		.section-title
			h2 Participantes
		.members-container
			form#members-form
				.form-group
					label(for='name') Adicionar Participante
					input#member-name(type='text' name='name' placeholder='Nome da criatura')
					br
					input.btn-main(type="submit" value="Adicionar")
			.members-list
				.member-unique
					| Bento
				.member-unique
					| Bento
				.member-unique
					| Bento
				.member-unique
					| Bento