// Section: Members Input
section#members
	h2.section-title Participantes
	.members-container
		form#members-form
			.form-group
				label(for='name') Adicionar Participante
				input#member-name(type='text' name='name' placeholder='Nome da criatura')
				br
				input.btn-main(type="submit" value="Adicionar")
		ul.members-list
			//- li.member-unique Bento
			//- 	a.delete-item
			//- 		i.fa.fa-remove