// Section: Result Table
section#table.limiter
	.table-container
		.table-wrap
			.table
				.row.header
					.cell
						| Data
					.cell
						| Cozinha
					.cell
						| Sala
					.cell
						| Banheiro Social
					.cell
						| Copa e Corredor
					.cell
						| Banheiro Suite
					.cell
						| Lavanderia
					.cell
						| Area Externa
				// Example Row
				.row
					.cell(data-title='Date')
						| 01/01
					.cell(data-title='Date')
						| Mom&ocirc;
					.cell(data-title='Date')
						| Piu-Piu
					.cell(data-title='Date')
						| Bento
					.cell(data-title='Date')
						| Vlad
					.cell(data-title='Date')
						| Naue
					.cell(data-title='Date')
						| Cecilia
					.cell(data-title='Date')
						| Sequela