// Section: Result Table

section#result
	h2.section-title Resultado

	table
		tr
			th.cell Data
			th.cell Data
			th.cell Data
			th.cell Data
			th.cell Data
			th.cell Data
			th.cell Data
			th.cell Data

		// Example Row
		tr.row
			td.cell
				| 01/01
			td.cell
				| Mom&ocirc;
			td.cell
				| Piu-Piu
			td.cell
				| Bento
			td.cell
				| Vlad
			td.cell
				| Naue
			td.cell
				| Cecilia
			td.cell
				| Sequela
		tr.row
			td.cell
				| 01/01
			td.cell
				| Mom&ocirc;
			td.cell
				| Piu-Piu
			td.cell
				| Bento
			td.cell
				| Vlad
			td.cell
				| Naue
			td.cell
				| Cecilia
			td.cell
				| Sequela
		tr.row
			td.cell
				| 01/01
			td.cell
				| Mom&ocirc;
			td.cell
				| Piu-Piu
			td.cell
				| Bento
			td.cell
				| Vlad
			td.cell
				| Naue
			td.cell
				| Cecilia
			td.cell
				| Sequela
		tr.row
			td.cell
				| 01/01
			td.cell
				| Mom&ocirc;
			td.cell
				| Piu-Piu
			td.cell
				| Bento
			td.cell
				| Vlad
			td.cell
				| Naue
			td.cell
				| Cecilia
			td.cell
				| Sequela
		tr.row
			td.cell
				| 01/01
			td.cell
				| Mom&ocirc;
			td.cell
				| Piu-Piu
			td.cell
				| Bento
			td.cell
				| Vlad
			td.cell
				| Naue
			td.cell
				| Cecilia
			td.cell
				| Sequela
		tr.row
			td.cell
				| 01/01
			td.cell
				| Mom&ocirc;
			td.cell
				| Piu-Piu
			td.cell
				| Bento
			td.cell
				| Vlad
			td.cell
				| Naue
			td.cell
				| Cecilia
			td.cell
				| Sequela