// Section: Tasks Input

section#task
	h2.section-title Tarefas
	.task-container
		form#task-form
			.form-group
				label(for='name') Adicionar Tarefa
				input#tasks-name(type='text' name='name' placeholder='Nome da tragedia')
				input#tasks-difficulty(type='number' name='difficulty' step='1' min='0' max='10' placeholder='Diff')
				br
				button.btn-main
					| Adicionar
		ul.task-list
			//- li.task-unique 
			//- 	span.task-name Teste 
			//- 	span.task-difficulty 10
			//- 	a.delete-item
			//- 		i.fa.fa-remove
