// Section: Tasks Input

section#task
	.container
		.section-title
			h2 Tarefas
		.task-container
			form
				.form-group
					label(for='name') Adicionar Tarefa
					input#task-name(type='text' name='name' placeholder='Nome da tragedia')
					br
					button.btn-main
						| Adicionar
				.task-list
					.task-unique
						| Cozinha
					.task-unique
						| Banheiro
					.task-unique
						| Sala
					.task-unique
						| Lavanderia