doctype 
html(lang="pt")
	head
		title Faxinator
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		link(
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous")


		link(rel='stylesheet' type='text/css' href='css/main.css')
		
	body

		include includes/header

		.main
			.left
				include includes/members

				include includes/tasks

			.right
				include includes/dates

				include includes/table
	
		// Scripts

		//-  MATERIALIZE Compiled and minified JavaScript 
		script(src='js/main.js' type="module")
