doctype 
html(lang="pt")
	head
		title Faxinator
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		<!-- MATERIALIZE Compiled and minified CSS -->
		//- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


		link(rel='stylesheet' type='text/css' href='css/main.css')
		
	body
		include includes/header

		include includes/dates

		include includes/members

		include includes/tasks

		include includes/table
	
		// Scripts

		//-  MATERIALIZE Compiled and minified JavaScript 
		script(src='js/main.js')
