$website-width: 1400px;

$bg-color: #c4d3f6;
$main-color: #6c7ae0;
$row-color-hover: #ececff;
$white-color: #ffffff;
$text-color: #666666;
$darker-text-color: #555555;
$border-color: #f2f2f2;
$data-title-color: #808080; // Mobile only
