@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "config";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: "Poppins", sans-serif;
	background-color: $bg-color;
}
ul,
li {
	text-decoration: none;
	list-style: none;
}
.section-title {
	background-color: $main-color;
	color: $white-color;
	text-align: center;

	// font-size: 2rem;
	// display: block;
	padding: 0.5rem 0;
	font-weight: 100;
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.main {
	width: $website-width;
	margin: 1rem auto;
	display: flex;
	justify-content: space-between;

	.left {
		width: 25%;
	}
	.right {
		margin-left: 1rem;
		width: 75%;
	}
}

@import "utilities/buttons";

@import "sections/header";

@import "sections/date";

@import "sections/members";

@import "sections/tasks";

@import "sections/table";

@import "media";
